.App {
  text-align: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* background-color: lightgray; */
}

th, td {
  border: 1px solid black;
  padding: 20px;
  text-align: left;
}

th {
  background-color:lightgray; /* Background color of the first row */
  padding-left: 90px;
}

td:first-child {
  background-color:lightgray; /* Background color of the first column */
}

tbody tr:nth-child(even) td:not(:first-child) {
  background-color: white; /* Background color of rest columns */
}

tbody tr:nth-child(2n) td:nth-child(n+2) {
  background-color: white; /* Making 2nd and 4th rows from 2nd column white */
}
